<!DOCTYPE html>
<html>
<head>

	<title>Big Picture Grip</title>
	
	<meta name="description" content="Production ready grip packages for commercials, promos, splinter and second units. Serving NM and the Southwest with grip truck rentals, specialty grip equipment, sliders and cranes.">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style> body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif} 

		body, html {
		  height: 100%;
		  line-height: 1.8;
		}

		/* Full height image header */
		.bgimg-1 {
		  background-position: center;
		  background-size: cover;
		  background-image: url("https://i.postimg.cc/sXVM125R/bg-img.jpg");
		  min-height: 100%;
		}

		.w3-bar .w3-button {
		  padding: 16px;
		}
		
		.mobile-visible{
			display:none;
		}
		
		/* display different elements for mobile */
		@media screen and (max-width: 481px), (max-height: 415px){
			
			.desktop-visible{
				display:none;
			}
			
			.mobile-visible{
				display:block;
			}
		}

	</style>

</head>
<body>

	<header class="bgimg-1 w3-display-container"> 
	
		<div class="w3-display-topleft w3-half" style="padding:24px; position:relative;">
			
			<img src="https://i.postimg.cc/TPB9KY5x/BPG-alt-logo.png" style="width: 100%">
			
		</div>
		
		<div class="desktop-visible">

			<div class="w3-display-topright" style="padding:24px; position:relative;">

				<div class="w3-right-align"><h4>Production ready grip packages for <br>commercials/promos/splinter and <br>second units</h4></div>

					<p>
						<a href="/Contact" class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off w3-right">Contact</a>

						<a href="/About" class="w3-button w3-white w3-padding-large w3-large w3-margin-right w3-opacity w3-hover-opacity-off w3-right">About</a>
					</p>

				</div>

			<div class="w3-display-bottomleft" style="padding:24px"> 

				<p>
					<a href="/3Ton" class="w3-button w3-white w3-padding-large w3-xlarge w3-opacity w3-hover-opacity-off w3-left">3 Ton</a>

					<a href="/5Ton" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-left w3-opacity w3-hover-opacity-off w3-left">5 Ton</a>
				</p>

				<p>
					<a href="http://e-slide.com/specs.html" target="_blank" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-top w3-opacity w3-hover-opacity-off w3-left" >Sliders</a>

					<a href="/Giraffe" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-left w3-margin-top w3-opacity w3-hover-opacity-off w3-left">Giraffe Crane</a>
				</p>

			</div>
			
			<div class="w3-display-bottomright" style="text-align:center; padding-right:24px; padding-bottom:15px; color:white">
			
				<p>
					<h4><b>Now Offering:</b></h4>
				</p>
			
				<p>
					<a href="http://www.black-tek.com/airrig/camerakit.php?lang=en" target="_blank" class="w3-button w3-black w3-padding-large w3-xlarge w3-margin-right w3-margin-bottom w3-opacity w3-hover-opacity-off w3-right">Black-Tek</a>
				</p>
				
				<p>
					<h4><b>AirRig Camera </br>Mount</b></h4>
				</p>
			
			</div>
		
		</div>
		
		<div class="mobile-visible">
		
			<div style="padding:24px; text-align:center;">
				<h4>Production ready grip packages for commercials/promos/splinter and second units</h4>
				
				<p>
				<a href="/Contact" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-margin-bottom w3-margin-right w3-opacity w3-hover-opacity-off">Contact</a>
				
				<a href="/About" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-margin-bottom w3-opacity w3-hover-opacity-off">About</a>
				</p>
				
				<p><a href="/3Ton" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-top w3-opacity w3-hover-opacity-off">3 Ton</a></p>
				
				<p><a href="/5Ton" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-top w3-opacity w3-hover-opacity-off">5 Ton</a></p>
				
				<p><a href="http://e-slide.com/specs.html" target="_blank" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-top w3-opacity w3-hover-opacity-off" >Sliders</a></p>
				
				<p><a href="/Giraffe" class="w3-button w3-white w3-padding-large w3-xlarge w3-margin-top w3-opacity w3-hover-opacity-off">Giraffe Crane</a></p>
				
				<div style="text-align:center; padding:24px; color:white">
			
					<p>
						<h4><b>Now Offering:</b></h4>
					</p>
			
					<p>
						<a href="http://www.black-tek.com/airrig/camerakit.php?lang=en" target="_blank" class="w3-button w3-black w3-padding-large w3-xlarge w3-margin-bottom w3-opacity w3-hover-opacity-off">Black-Tek</a>
					</p>
				
					<p>
						<h4><b>AirRig Camera </br>Mount</b></h4>
					</p>
			
			</div>
				
			</div>
		
		</div>

	</header>

</body>
</html>