<!DOCTYPE html>
<html>
<head>

	<title>5 Ton</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<style> body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif} 

		body, html {
		  height: 100%;
		  line-height: 1.8;
		}
		
		/* Full height image header */
		.headerimg-1 {
		  background-position: center;
		  background-size: cover;
		  background-image: url("images/header.png");
		  width:100%;
		  min-height:15%;
		}
		
		.w3-bar .w3-button {
		  padding: 16px;
		}

	</style>
</head>

<body>

	<header class="headerimg-1 w3-display-container"> 
	
		<div class="w3-container w3-center w3-third">
			<a href="home.html" class="w3-button w3-white w3-padding-large w3-large w3-margin-left w3-margin-top w3-opacity w3-hover-opacity-off w3-left">
			<i class="fa fa-arrow-left w3-margin-right"></i>Back</a>
		</div>
	
		<div class="w3-container w3-third">
			<a href="home.html"><img src="images/BPG_logo.png" class="w3-image" style="padding:24px; min-width:100%;"></a>
		</div>
	
	</header>

	<article class="w3-container">

		<div class="w3-center w3-margin-top">

			<h1>5 ton GRIP PACKAGE</h1>

			<div class="w3-third">

				<div class="w3-card w3-margin w3-padding-16">
				
					<h3>Stands</h3>

					<p>
						<b>16</b> - 40&quot; C-stands </br>
						<b>4</b> - Short C-stands </br>
						<b>2</b> - Mambo stands </br>
						<b>4</b> - Med Roller stands </br>
						<b>8</b> - Combos with Grip Head </br>
						<b>2</b> - Low Combo
					</p>
					
				</div>
				
				<div class="w3-card w3-margin w3-padding-16">
				
					<h3>Hardware</h3>
				
					<p>
						<b>8</b> - Cardellini </br>
						<b>4</b> - 2 1/2&quot; gobo head </br>
						<b>2</b> - 4 1/2&quot; gobo head </br>
						<b>4</b> - beadboard holder </br>
						<b>8</b> - baby wall plate </br>
						<b>2</b> - jr. wall plate </br>
						<b>8</b> - baby grid (4 modern/4 american) </br>
						<b>2</b> - jr. grid </br>
						<b>1</b> - menace arm kit </br>
						<b>2</b> - split C </br>
						<b>1</b> - tree branch holder </br>
						<b>6</b> - C clamps (4&quot;, 6&quot;, 10&quot;) </br>
						<b>4</b> - chain vice grip, baby </br>
						<b>2</b> - jr/baby plug </br>
						<b>2</b> - baby offset </br>
						<b>2</b> - jr offset </br>
						<b>4</b> - frame pins </br>
					</p>
					
				</div>
					
			</div>
			
			<div class="w3-third">
			
				<div class="w3-card w3-margin w3-padding-16">
				
					<h3>Flags / Nets</h3>
			
					<p>
						<b>8</b> - 4x4 solid floppy</br>
						<b>12</b> - 4x4 empty frames (6 diffusion/6 color) </br>
						<b>2</b> - 4x4 single </br>
						<b>2</b> - 4x4 double </br>
						<b>1</b> - 4x4 silk </br>
					</p>
				
					<p>
						<b>6</b> - 2x3 solid </br>
						<b>4</b> - 2x3 empty frame (diffusion) </br>
						<b>2</b> - 2x3 single </br>
						<b>2</b> - 2x3 double </br>
					</p>
				
					<p>
						<b>4</b> - 18x24 solid </br>
						<b>2</b> - 18x24 empty frame </br>
						<b>2</b> - 18x24 single </br>
						<b>2</b> - 18x24 double </br>
					</p>
				
					<p>
						<b>2</b> - 24x48 solid floppy </br>
						<b>2</b> - 24x72 solid floppy </br>
					</p>
				
					<p>
						<b>2</b> - 42&quot; hard/soft reflectors </br>
						<b>1</b> - 42&quot; mirror </br>
					</p>
					
				</div>
				
				<div class="w3-card w3-margin w3-padding-16">
				
					<h3>Grip Support</h3>
				
					<p>
						<b>40</b> - 35# sandbag </br>
						<b>40</b> - 25# shotbag </br>
					</p>
				
					<p>
						<b>10</b> - Full Apple Box </br>
						<b>8 each</b> - half, quarter, pancake </br>
						<b>2</b> - crates wedges </br>
						<b>1</b> - crate cribbing </br>
					</p>
				
					<p>
						12&rsquo; ladder </br>
						10&rsquo; ladder </br>
						8&rsquo; ladder </br>
						6&rsquo; ladder </br>
						4&rsquo; ladder </br>
					</p>
					
				</div>
			
			</div>
			
			<div class="w3-third">
			
				<div class="w3-card w3-margin w3-padding-16">
				
					<h3>Frames / Rags</h3>
				
					<p>
						<b>2</b> - 12x12 Frame </br>
						<b>2</b> - 8x8 Frame </br>
						<b>1</b> - 6x6 Frame </br>
					</p>
				
					<p>
						<b>1</b>- 20x20 Frame </br>
						<b>1</b> - 12x20 Frame </br>
					</p>
				
					<h4>12x</h4>
				
					<p>
						<b>2</b> - solid </br>								
						<b>1</b> - single </br>					
						<b>1</b> - double </br>					
						<b>1</b> - silk </br>						
						<b>1</b> - ultra bounce </br>	
					</p>
				
					<h4>8x</h4>
				
					<p>
						<b>2</b> - solid </br> 
						<b>1</b> - single </br>
						<b>1</b> - double </br>
						<b>1</b> - silk </br>
						<b>1</b> - ultra bounce </br>

					</p>
				
					<h4>6x</h4>
				
					<p>
						<b>1</b> - solid </br>
						<b>1</b> - single </br>					
						<b>1</b> - double </br>				
						<b>1</b> - silk</br>					
						<b>1</b> - ultra bounce </br>	
					</p>
				
					<p>
						<b>1</b> - 20x20 solid </br>					
						<b>1</b> - 20x20 ultra bounce </br>		
					</p>
				
					<p>
						<b>1</b> - 12x20 solid </br>				
						<b>1</b> - 12x20 ultrabouce </br>
					</p>
					
				</div>
			
			</div>

		</div>

	</article>

</body>
</html>