<!DOCTYPE html>
<html>
<head>

	<title>About</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<style> body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif} 

		body, html {
		  height: 100%;
		  line-height: 1.8;
		}
		
		/* Full height image header */
		.headerimg-1 {
		  background-position: center;
		  background-size: cover;
		  background-image: url("images/header.png");
		  width:100%;
		  min-height:15%;
		}

		.w3-bar .w3-button {
		  padding: 16px;
		}

	</style>
</head>

<body>

	<header class="headerimg-1 w3-display-container"> 
	
		<div class="w3-container w3-center w3-third">
			<a href="home.html" class="w3-button w3-white w3-padding-large w3-large w3-margin-left w3-margin-top w3-opacity w3-hover-opacity-off w3-left">
			<i class="fa fa-arrow-left w3-margin-right"></i>Back</a>
		</div>
	
		<div class="w3-container w3-third">
			<a href="home.html"><img src="images/BPG_logo.png" class="w3-image" style="padding:24px; min-width:100%;"></a>
		</div>
	
	</header>

	<article class="w3-container">

		<div class="w3-center w3-margin-top">
		
			<h1>About BPG</h1>

			<p>
				Big Picture Grip is a grip rental house serving New Mexico and the southwest. We are a family </br>
				business, focused on providing production ready grip trucks, with up to date equipment and </br>
				organized layouts. BPG's founder, Evan Nelson, has over 20 years in the business as a grip, </br>
				technocrane operator and key grip. We have teamed up with the very best crews here in NM, </br>
				and look forward to providing your next shoot with with top quality grip support.
			</p>
			
			<a href="contact.html" class="w3-button w3-white w3-padding-large w3-large w3-margin-left w3-margin-top w3-opacity w3-hover-opacity-off w3-center">Contact Us</a>
			
		</div>

	</article>

</body>
</html>