<!DOCTYPE html>
<html>
<head>

	<title>3 Ton</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<style> body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif} 

		body, html {
		  height: 100%;
		  line-height: 1.8;
		}
		
		/* Full height image header */
		.headerimg-1 {
		  background-position: center;
		  background-size: cover;
		  background-image: url("images/header.png");
		  width:100%;
		  min-height:15%;
		}

		.w3-bar .w3-button {
		  padding: 16px;
		}

	</style>
</head>

<body>

	<header class="headerimg-1 w3-display-container"> 
	
		<div class="w3-container w3-center w3-third">
			<a href="home.html" class="w3-button w3-white w3-padding-large w3-large w3-margin-left w3-margin-top w3-opacity w3-hover-opacity-off w3-left">
			<i class="fa fa-arrow-left w3-margin-right"></i>Back</a>
		</div>
	
		<div class="w3-container w3-third">
			<a href="home.html"><img src="images/BPG_logo.png" class="w3-image" style="padding:24px; min-width:100%;"></a>
		</div>
	
	</header>

	<article class="w3-container">

		<div class="w3-center w3-margin-top">

			<h1>Giraffe Classic Camera Crane</h1>
			
			<h5>
				Ultra Light Modular Design</br>
				7 - in - 1 Crane System</br>
				Fast and Versatile</br>
			</h5>
			
			<img src="images/giraffe.gif" class="w3-image" style="padding:36px; min-width:50%;">
			
			<table class="w3-table w3-card w3-margin-bottom" style="margin:auto; width:50%;">
				<tr>
					<td><b>Maximum Lens Height</b></td>
					<td class="w3-right">31&rsquo;</td>
				</tr>
				<tr>
					<td><b>Drop Down</b></td>
					<td class="w3-right">17&rsquo; 6&quot;</td>
				</tr>
				<tr>
					<td><b>Maximum Reach</b></td>
					<td class="w3-right">31&rsquo; 6&quot;</td>
				</tr>
				<tr>
					<td><b>Maximum Length</b></td>
					<td class="w3-right">38&rsquo; 6&quot;</td>
				</tr>
				<tr>
					<td><b>Minimum Width on Track</b></td>
					<td class="w3-right">3&rsquo; 9&quot;</td>
				</tr>
				<tr>
					<td><b>Minimum Width on Wheels</b></td>
					<td class="w3-right">4&rsquo; 8&quot;</td>
				</tr>
				<tr>
					<td><b>Maximum Doorway Height</b></td>
					<td class="w3-right">7&rsquo; 6&quot;</td>
				</tr>
			</table>

		</div>

	</article>

</body>
</html>